@import '~antd/dist/antd.css';
.price-item {
  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
  /* border-radius: 5%; */
  padding:16px ;
  /* box-shadow: 5px 5px 5px #888888; */
  background-color: #FFF;
  transition: all .5s;
  border-radius: 0.25rem;
  box-shadow: 0 20px 20px -12px rgba(0,0,0,0.1);
}

.price-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.container{
  position: relative;
  width: 100%;
  background:rgba(0,0,0,0.05);  
}

.header-bar{
  top:0;
  position: sticky;
  min-height: 5vh;
  width: 100vw;
  background:green;    
  padding: 1.8rem 6rem;
  margin:0 auto
}

.content{
  padding:16px;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 3rem 1.5rem;
  grid-template-columns: repeat(auto-fill, 18rem);
  justify-content: center;
  align-content: center;
}

.price{
  color:orange;
  margin : 8px 0;
}
.volume-and-change{
  display: flex;
  justify-content: space-between;
}
.volume{
  color:rgba(0, 0, 0, 0.3);
  margin-right: 4px;
  /* flex-grow: 50%; */
}
.change{
  color:rgba(0, 0, 0, 0.3);
  /* flex-grow: 50%; */
}